@import "../global.scss";

.no-recipe-container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recepies {
  display: grid;
  margin: 0 auto;
  grid-template-columns: $recepiesGridTemplate;
  gap: 3rem;
  justify-content: center;
}
