@import "../global";

.recipe-page {
  .page-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .underline {
    margin-bottom: 20px;
  }
}
.content {
  .ingredients {
    background: #fff;
    .line {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 10px;
      box-sizing: border-box;
      &:hover {
        cursor: pointer;
      }
      .checkbox {
        min-width: 20px;
        min-height: 20px;
        margin-right: 15px;
      }
      .ingredient {
        width: 100%;
      }
      .ingredient.crossed {
        text-decoration: line-through;
      }
    }
  }
  .ingredients,
  .intructions {
    width: 100%;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
  }
  .intructions {
    .step {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin: 20px 0;
      padding: 15px;
      box-sizing: border-box;
      box-shadow: $boxShadow;
      .number {
        width: 10%;
        color: #e8523d;
        font-size: 20px;
        font-weight: 600;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
      }
      .intruction {
        width: 85%;
      }
    }
  }
}

.instructions {
  margin-top: 50px;
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
  border-radius: $borderRadius;
  overflow: hidden;
  box-shadow: $boxShadow;
}

.division-lable {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  h3 {
    font-size: 30px;
    margin-right: 20px;
    color: $clrAccentBlue;
  }
}

.items-list {
  margin-bottom: 50px;
  li {
    font-size: 20px;
    margin: 20px;
  }
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 999px) {
  .single-recepie {
    .content {
      .intructions {
        margin-top: 30px;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .single-recepie {
    .content {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      .ingredients {
        width: 30%;
      }
      .intructions {
        width: 40%;
        margin-top: 0;
      }
    }
  }
}
