@import "./global.scss";

.filters-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.5s;
  overflow: hidden;
  .line {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 10px;
    width: 400px;
    .filters-group {
      margin: 10px;
      .title {
        color: $clrDarkGold;
        font-size: 25px;
      }
      .filter {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 5px 0;
        text-transform: capitalize;

        cursor: pointer;
        .cx-box {
          display: inline-block;
          width: 22px;
          height: 22px;
          border-radius: 2px;
          border: 2px solid #000;
          display: grid;
          place-content: center;
          &::before {
            content: "";
            width: 0.9em;
            height: 0.9em;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em #663399;
          }
        }
        .cx-box.checked {
          &::before {
            transform: scale(1);
          }
        }
        label {
          margin-left: 10px;
          font-size: 20px;
          cursor: pointer;
        }
      }
    }
  }
  .line.button {
    height: 30px;
    .btn-reset {
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      border-radius: 5px;
      background-color: $clrGold;
      color: black;
      transition: all 0.5s;
      &:hover {
        cursor: pointer;
        background-color: $clrDarkGold;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .filters-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    .line {
      width: 100%;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      margin-bottom: 5px;
    }
    .line.button {
      align-items: center;
    }
  }
}
