$clrWhite: #fff;
$clrBackgroundBlue: #f1f5f8;
$clrAccentBlue: #607d98;
$clrGold: #ddab61;
$clrDarkGold: #cf8d2a;

$clrBlack: #222;

$boxShadow: 0 3px 10px rgba(0, 0, 0, 0.089);
$borderRadius: 0px;

$recepiesGridTemplate: repeat(auto-fit, minmax(15rem, 35rem));

$transition: all 0.3s linear;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  background: #f1f5f8;
  min-height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.spacer {
  height: 60px;
}

.div-visible {
  height: 100%;
}
.div-invisible {
  height: 0;
}
