@import "../global";

@media screen and (max-width: 1400px) {
  .header-container {
    grid-template-columns: 1fr !important;
    .recepie-img {
      margin-right: 0 !important;
    }
  }
}

@media screen and (max-width: 870px) {
  .header-container {
    .recepie-img {
      width: 100% !important;
    }
  }
}

@media screen and (min-width: 700px) {
  .line {
    height: 3px;
    width: fill;
    background: $clrAccentBlue;
  }
}

@media screen and (max-width: 500px) {
  .single-recepie {
    .recepie-header {
      z-index: 2;
      width: 95%;
      margin: auto;
      .header-container {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        background: #fff;
        border-radius: $borderRadius;
        overflow: hidden;
        box-shadow: $boxShadow;
        width: 100%;
        .single-recepie-info {
          display: relative;
          justify-content: start;
          h1 {
            font-size: 40px;
          }
        }
        .recepie-img {
          width: 600px;
          margin-right: 20px;
        }
      }
    }
    .header {
      .img {
        z-index: 1;
        img {
          width: 100%;
        }
      }
      .header-info {
        background: #fff;
        border-radius: $borderRadius;
        overflow: hidden;
        box-shadow: $boxShadow;
        width: 90%;
        transform: translateY(-40px);
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        .title {
          text-align: center;
          width: 80%;
          margin-top: 10px;
          h1 {
            font-weight: bold;
            font-size: 30px;
          }
        }
        .details {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 100%;
          border-top: 1px solid #e0e0e0;
          border-bottom: 1px solid #e0e0e0;
          .left {
            border-right: 1px solid #e0e0e0;
          }
          .left,
          .right {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            width: 50%;
            padding: 10px;
            box-sizing: border-box;
            height: 90px;
          }
        }
        .actions {
          width: 90%;
          .save-recepie {
            margin: 20px 0;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 50px;
            background: #e60f3678;
            color: #d8062c;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.5s;
            .icon {
              margin-right: 10px;
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
    .content {
      .ingredients {
        background: #fff;
        .line {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 10px;
          box-sizing: border-box;
          .checkbox {
            min-width: 20px;
            min-height: 20px;
            margin-right: 15px;
            &:hover {
              cursor: pointer;
            }
          }
          .ingredient.crossed {
            text-decoration: line-through;
          }
        }
      }
      .ingredients,
      .intructions {
        width: 100%;
        background: #fff;
        padding: 20px;
        box-sizing: border-box;
      }
      .intructions {
        margin-top: 30px;
        .step {
          // border: 1px solid #000;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          margin: 20px 0;
          padding: 15px;
          box-sizing: border-box;
          box-shadow: $boxShadow;
          .number {
            width: 10%;
            color: #e8523d;
            font-size: 20px;
            font-weight: 600;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);

            // border: 1px solid #000;
          }
          .intruction {
            width: 85%;
            // border: 1px solid #000;
          }
        }
      }
    }
  }
}

.instructions {
  margin-top: 50px;
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
  border-radius: $borderRadius;
  overflow: hidden;
  box-shadow: $boxShadow;
}

.division-lable {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  h3 {
    font-size: 30px;
    margin-right: 20px;
    color: $clrAccentBlue;
  }
}

.items-list {
  margin-bottom: 50px;
  li {
    font-size: 20px;
    margin: 20px;
  }
}
