:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-gold: #c59d5f;

  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section {
  width: 70vw;
  margin: 0 auto;
}

.menu {
  margin-top: 100px;
}

.section .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.underline {
  width: 80px;
  height: 4px;
  margin-top: 5px;
  background-color: var(--clr-gold);
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}


.filter-btn {
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  /* color: var(--clr-gold); */
  border: 2px solid var(--clr-gold);
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--radius);
}

.filter-btn:hover {
  background: var(--clr-gold);
  color: var(--clr-white);
}

.active-btn {
  background: var(--clr-gold);
  color: var(--clr-white);
}

/*

HOME

*/

.recepies {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  justify-items: center;
}

.recepie {
  display: grid;
  gap: 3rem 2rem;
  grid-template-columns: 305px 1fr;
  justify-items: center;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.089);
}

.recepie .recepie-img,
.single-recepie .recepie-img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-position: left center;
  border: 5px solid var(--clr-gold);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.recepie-img img,
.single-recepie img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.recepie-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  background: #fff;
  padding: 20px;
  width: 230px;
}

.recepie-info .title {
  border-bottom: 1px dashed var(--clr-gold);
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  margin-bottom: 20px;
}

.recepie-information h3 {
  margin: 10px 0;
}

/* .recepie-info p {
  margin-bottom: 20px;
  height: 120px;
  overflow: hidden;
} */

.recepie-info .btn-blue {
  padding: 10px 20px;
  margin: 20px 0 0 0;
  background: #A5D5F8;
  color: #2E384D;
  border: none;
  font-size: 20px;
  /* font-weight: 600; */
  border-radius: 10px;
  text-decoration: none;
}



.single-recepie {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 500px;
}

.single-recepie .recepie-info {
  justify-content: start;
  /* width: 40%; */
  width: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.089);

}

.single-recepie .recepie-info h1 {
  font-size: 40px;
}

.single-recepie .recepie-img {
  width: 50%;
  margin-right: 50px;
  background-position: left center;
  overflow: hidden;
}


.single-recepie .info {
  border: 1px solid #000;
  height: 100%;
  padding: 30%;
}

.single-recepie .info .title {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
}

.ingredients {
  margin-top: 50px;
  padding: 50px;
  box-sizing: border-box;
}

.division-lable {
  margin-bottom: 30px;
  display: flex;
  /* justify-content: center;
  */
  align-items: center;
  flex-direction: row;

}

.division-lable h3 {
  font-size: 30px;
  margin-right: 20px;
  color: hsl(210, 22%, 49%);
}

.line {
  height: 3px;
  /* width: 70%; */
  width: fill;
  background: hsl(210, 22%, 49%);
}

.items-list p {
  font-size: 20px;
  margin: 20px;
}

.items-list {
  margin-bottom: 50px;
}